In [1]:
import pandas as pd
import numpy as np
from sklearn import metrics
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from umap import UMAP
from sklearn.manifold import TSNE
import plotly.express as px
import seaborn as sb

In [2]:
df = pd.read_csv("C:\\Users\\Rogonfu\\Downloads\\brca_tcga_pan_can_atlas_2018\\brca_tcga_pan_can_atlas_2018\\data_mrna_seq_v2_rsem.txt", sep="\t", header=None)

C:\Users\Rogonfu\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128,129,130,131,132,133,134,135,136,137,138,139,140,141,142,143,144,145,146,147,148,149,150,151,152,153,154,155,156,157,158,159,160,161,162,163,164,165,166,167,168,169,170,171,172,173,174,175,176,177,178,179,180,181,182,183,184,185,186,187,188,189,190,191,192,193,194,195,196,197,198,199,200,201,202,203,204,205,206,207,208,209,210,211,212,213,214,215,216,217,218,219,220,221,222,223,224,225,226,227,228,229,230,231,232,233,234,235,236,237,238,239,240,241,242,243,244,245,246,247,248,249,250,251,252,253,254,255,256,257,258,259,260,261,262,263,264,265,266,267,268,269,270,271,272,273,274,275,276,277,278,279,280,281,282,283,284,285,286,287,288,289,290,291,292,293,294,295,296,297,298,299,300,301,302,303,304,305,306,307,308,309,310,311,312,313,314,315,316,317,318,319,320,321,322,323,324,325,326,327,328,329,330,331,332,333,334,335,336,337,338,339,340,341,342,343,344,345,346,347,348,349,350,351,352,353,354,355,356,357,358,359,360,361,362,363,364,365,366,367,368,369,370,371,372,373,374,375,376,377,378,379,380,381,382,383,384,385,386,387,388,389,390,391,392,393,394,395,396,397,398,399,400,401,402,403,404,405,406,407,408,409,410,411,412,413,414,415,416,417,418,419,420,421,422,423,424,425,426,427,428,429,430,431,432,433,434,435,436,437,438,439,440,441,442,443,444,445,446,447,448,449,450,451,452,453,454,455,456,457,458,459,460,461,462,463,464,465,466,467,468,469,470,471,472,473,474,475,476,477,478,479,480,481,482,483,484,485,486,487,488,489,490,491,492,493,494,495,496,497,498,499,500,501,502,503,504,505,506,507,508,509,510,511,512,513,514,515,516,517,518,519,520,521,522,523,524,525,526,527,528,529,530,531,532,533,534,535,536,537,538,539,540,541,542,543,544,545,546,547,548,549,550,551,552,553,554,555,556,557,558,559,560,561,562,563,564,565,566,567,568,569,570,571,572,573,574,575,576,577,578,579,580,581,582,583,584,585,586,587,588,589,590,591,592,593,594,595,596,597,598,599,600,601,602,603,604,605,606,607,608,609,610,611,612,613,614,615,616,617,618,619,620,621,622,623,624,625,626,627,628,629,630,631,632,633,634,635,636,637,638,639,640,641,642,643,644,645,646,647,648,649,650,651,652,653,654,655,656,657,658,659,660,661,662,663,664,665,666,667,668,669,670,671,672,673,674,675,676,677,678,679,680,681,682,683,684,685,686,687,688,689,690,691,692,693,694,695,696,697,698,699,700,701,702,703,704,705,706,707,708,709,710,711,712,713,714,715,716,717,718,719,720,721,722,723,724,725,726,727,728,729,730,731,732,733,734,735,736,737,738,739,740,741,742,743,744,745,746,747,748,749,750,751,752,753,754,755,756,757,758,759,760,761,762,763,764,765,766,767,768,769,770,771,772,773,774,775,776,777,778,779,780,781,782,783,784,785,786,787,788,789,790,791,792,793,794,795,796,797,798,799,800,801,802,803,804,805,806,807,808,809,810,811,812,813,814,815,816,817,818,819,820,821,822,823,824,825,826,827,828,829,830,831,832,833,834,835,836,837,838,839,840,841,842,843,844,845,846,847,848,849,850,851,852,853,854,855,856,857,858,859,860,861,862,863,864,865,866,867,868,869,870,871,872,873,874,875,876,877,878,879,880,881,882,883,884,885,886,887,888,889,890,891,892,893,894,895,896,897,898,899,900,901,902,903,904,905,906,907,908,909,910,911,912,913,914,915,916,917,918,919,920,921,922,923,924,925,926,927,928,929,930,931,932,933,934,935,936,937,938,939,940,941,942,943,944,945,946,947,948,949,950,951,952,953,954,955,956,957,958,959,960,961,962,963,964,965,966,967,968,969,970,971,972,973,974,975,976,977,978,979,980,981,982,983,984,985,986,987,988,989,990,991,992,993,994,995,996,997,998,999,1000,1001,1002,1003,1004,1005,1006,1007,1008,1009,1010,1011,1012,1013,1014,1015,1016,1017,1018,1019,1020,1021,1022,1023,1024,1025,1026,1027,1028,1029,1030,1031,1032,1033,1034,1035,1036,1037,1038,1039,1040,1041,1042,1043,1044,1045,1046,1047,1048,1049,1050,1051,1052,1053,1054,1055,1056,1057,1058,1059,1060,1061,1062,1063,1064,1065,1066,1067,1068,1069,1070,1071,1072,1073,1074,1075,1076,1077,1078,1079,1080,1081,1082,1083) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [3]:
df = df.T

In [ ]:
df

In [ ]:
new_header = df.iloc[0] #grab the first row for the header
df = df[1:] #take the data less the header row
df.columns = new_header #set the header row as the df header

In [ ]:
df

In [ ]:
tes = df[df[0] == "TCGA-BH-A0B5-11"]

In [ ]:
tes

In [4]:
clas = pd.read_csv("C:\\Users\\Rogonfu\\Downloads\\brca_tcga_pan_can_atlas_2018\\brca_tcga_pan_can_atlas_2018\\normals\\data_mrna_seq_v2_rsem_normal_samples.txt", sep="\t", header=None)

C:\Users\Rogonfu\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [ ]:
clas

In [ ]:
samp = pd.read_csv("C:\\Users\\Rogonfu\\Downloads\\brca_tcga_pan_can_atlas_2018\\brca_tcga_pan_can_atlas_2018\\data_clinical_sample.txt", sep="\t", header=None)

In [ ]:
samp

In [ ]:
pati = pd.read_csv("C:\\Users\\Rogonfu\\Downloads\\brca_tcga_pan_can_atlas_2018\\brca_tcga_pan_can_atlas_2018\\data_clinical_patient.txt", sep="\t", header=None)

In [ ]:
pati

In [ ]:
coad = pd.read_csv("C:\\Users\\Rogonfu\\Downloads\\blca_tcga_pan_can_atlas_2018\\data_mrna_seq_v2_rsem.txt", sep="\t", header=None)

In [ ]:
coad

In [ ]:
clas2 = pd.read_csv("C:\\Users\\Rogonfu\\Downloads\\blca_tcga_pan_can_atlas_2018\\normals\\data_mrna_seq_v2_rsem_normal_samples.txt", sep="\t", header=None)

In [ ]:
clas2

In [ ]:
sample = samp.drop(0)

In [ ]:
sample = sample.drop(1)

In [ ]:
sample = sample.drop(2)

In [ ]:
sample = sample.drop(3)

In [ ]:
sample = sample.drop(0, axis=1)

In [ ]:
sample

In [ ]:
novo = pd.DataFrame(sample[sample.columns[0]])
novo

In [ ]:
novo['Classe'] = sample[sample.columns[3]]
novo

In [ ]:
novo = novo.drop(4)
novo

In [ ]:
novo = novo.rename(columns={1:0})
novo

In [5]:
new = df.drop(0)

In [6]:
new = new.drop(1)

In [7]:
new = new.drop(0, axis=1)

In [8]:
new

,1,2,3,4,5,6,7,8,9,10,...,20522,20523,20524,20525,20526,20527,20528,20529,20530,20531
2,0,16.3644,12.9316,52.1503,408.076,0,1187.01,0,0,0,...,415.824,931.957,129.592,1007.78,1658.5,258.494,1208.37,3507.25,1894.93,1180.46
3,0,9.2659,17.379,69.7553,563.893,0,516.041,1.0875,0.5438,0,...,1161.33,965.198,59.8151,448.613,1343.12,198.477,603.589,5504.62,1318.65,406.743
4,0.9066,11.6228,9.2294,154.297,1360.83,0,592.022,0,0,0,...,305.422,2531.28,35.3581,533.998,768.812,331.822,532.185,5458.75,942.883,509.519
5,0,12.0894,11.0799,143.864,865.536,0,552.751,0.4137,0,0,...,394.506,668.597,55.0269,437.733,863.881,175.424,607.365,5691.35,781.134,700.869
6,0,6.8468,14.4298,84.2128,766.383,0,260.851,0.4255,0,0,...,405.711,674.468,48.9362,424.255,1049.79,14.0426,775.745,4041.7,831.915,881.702
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1079,0,0,3.258,42.2643,1877.42,0,704.541,4.0725,0,0,...,150.014,180.819,24.4349,243.535,772.959,98.5543,315.211,10937.1,800.652,443.087
1080,0,14.3858,21.4409,137.776,652.756,0,427.165,2.7559,0,0,...,456.047,457.087,70.8661,643.701,1266.54,21.2598,688.189,5118.11,1933.86,670.079
1081,0,22.324,27.2744,64.1427,722.721,0,376.476,0.4724,0,0,...,530.198,694.379,48.6538,341.521,1375.53,164.384,746.812,5477.56,1437.41,953.708
1082,0,2.2638,7.2933,85.0461,1140.28,0,252.068,0.5973,0,0,...,173.109,258.639,32.2552,248.484,796.225,51.9667,505.928,6675.63,754.413,750.829
1083,0,6.8865,24.7795,167.551,1003.57,0,238.017,0.348,0,0,...,521.169,2435.84,34.4498,389.735,947.89,139.539,573.467,3402.52,564.419,462.114

In [ ]:
result = pd.merge(new, novo, on=[0], how="inner")

In [ ]:
result

In [ ]:
test1 = result.loc[result.Classe == "Breast Invasive Ductal Carcinoma"]
test1

In [ ]:
test2 = result.loc[result.Classe == "Breast Invasive Lobular Carcinoma"]
test2

In [ ]:
final = test1.append(test2, ignore_index=True)
final

In [ ]:
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import f_classif

In [9]:
clas = clas.T

clas = clas.drop(0)

clas = clas.drop(1)

clas = clas.drop(0, axis=1)

In [10]:
clas

,1,2,3,4,5,6,7,8,9,10,...,20522,20523,20524,20525,20526,20527,20528,20529,20530,20531
2,0,4.3333,3.9206,78.9238,978.413,0,219.048,0.9524,0,0,...,247.819,213.333,41.2698,433.333,1034.29,60.3175,745.079,6455.87,1314.29,968.254
3,0,4.2087,2.1852,53.638,970.757,0,136.154,0,0,0,...,161.155,144.053,45.5101,374.612,936.906,34.6027,815.045,6038.93,1477.39,620.968
4,0,3.055,0,87.5764,770.367,0,109.98,0,0,0,...,98.2688,58.554,94.1955,374.236,1077.39,1.5275,1545.32,2344.7,1997.96,730.652
5,0,3.2784,0.8454,61.2165,696.392,0,106.186,0,0,0,...,216.17,156.186,75.7732,380.412,1036.6,0.5155,1453.09,4177.32,1769.59,664.433
6,0,5.5871,13.5182,64.0867,712.488,0,162.628,0,0,0,...,229.459,110.438,75.9553,813.607,1122.09,12.1156,1428.24,3324.79,1918.45,970.643
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
111,0,2.3355,2.0787,93.3628,613.162,0,116.372,0.4013,0,0,...,166.095,36.9181,98.3146,487.962,1325.04,1.6051,1891.65,2548.96,1839.09,936.998
112,0,2.5335,3.7479,95.9003,760.05,0,144.054,0,0,0,...,155.779,55.2764,81.6583,436.767,1090.87,5.8626,1890.28,2906.2,1713.99,865.159
113,0,1.5032,4.2933,84.4595,765.53,0,64.9213,0.3864,0,0,...,156.12,43.2808,83.8566,547.966,1260.55,8.888,2362.28,2463.92,1949.96,982.707
114,0,6.8563,11.241,70.5843,1698.04,0,61.5305,0.5171,0,0,...,143.573,16.029,173.216,520.683,1832.99,1.0341,12297.8,1842.3,2440.02,721.303
115,0,9.9332,5.0207,120.907,665.924,0,283.805,0.3182,0,0,...,235.679,118.995,68.7241,551.702,1216.67,27.0442,977.092,5548.52,1640.47,908.368

In [ ]:
coad = coad.T

coad = coad.drop(0)

coad = coad.drop(1)

coad = coad.drop(0, axis=1)

In [ ]:
coad

In [ ]:
clas2 = clas2.T

clas2 = clas2.drop(0)

clas2 = clas2.drop(1)

clas2 = clas2.drop(0, axis=1)

In [ ]:
clas2

In [11]:
arr0 = []

In [12]:
arr0 = ['Câncer' for i in range(1082)]

In [13]:
new["Classe"] = arr0

In [ ]:
arr0

In [ ]:
arr = np.arange(1082, dtype=int)

In [ ]:
array = np.full_like(arr, 1)

In [ ]:
new["Classe"] = array

In [ ]:
new

In [14]:
arr = []

In [15]:
arr = ['Normal' for i in range(114)]

In [ ]:
arr

In [16]:
clas["Classe"] = arr

In [ ]:
arr2 = np.arange(114, dtype=int)

In [ ]:
array2 = np.full_like(arr2, 0)

In [ ]:
clas["Classe"] = array2

In [ ]:
clas

In [ ]:
arr1 = []

In [ ]:
arr1 = ['Câncer COAD' for i in range(407)]

In [ ]:
coad["Classe"] = arr1

In [ ]:
coad

In [ ]:
arr2 = []

In [ ]:
arr2 = ['Normal' for i in range(19)]

In [ ]:
clas2["Classe"] = arr2

In [17]:
final = new.append(clas, ignore_index=True)

In [ ]:
final = final.append(coad, ignore_index=True)

In [ ]:
final = final.append(clas2, ignore_index=True)

In [ ]:
final

In [18]:
dataframe = final.sample(frac = 1)
dataframe

,1,2,3,4,5,6,7,8,9,10,...,20523,20524,20525,20526,20527,20528,20529,20530,20531,Classe
905,0,6.1041,1.4241,113.319,1154.96,0,109.473,0.941,0,0,...,646.487,55.8344,427.854,908.407,42.3463,755.646,3186.32,1485.26,803.325,Câncer
1027,0,0,4.1973,105.399,1014.69,0,274.921,0,14.6905,0,...,1087.62,24.659,207.24,920.252,192.025,842.078,6962.75,668.415,332.634,Câncer
582,0,1.9494,5.4268,214.768,820.864,0,238.145,0,0,0,...,348.788,44.2571,358.272,885.669,27.9241,833.509,3297.68,501.581,740.78,Câncer
931,0,11.3824,15.7494,209.057,2133.72,0,94.3152,0,1.938,0,...,786.176,10.9819,101.421,1323.64,99.4832,475.452,4866.93,579.457,536.822,Câncer
830,0,18.8152,9.6535,65.665,1514.31,0,506.686,0.2876,0,0,...,2694.18,108.124,1077.5,2069.59,210.496,1193.39,874.191,1525.23,7269.59,Câncer
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
223,0,14.6431,2.5982,113.36,850.04,0,101.444,0,0,0,...,660.786,76.9848,581.796,1320.37,121.892,1186.85,3635.12,2219.33,1256.62,Câncer
1019,0,2.0161,0,46.5054,895.160999999999,0,566.868,1.6801,0,0,...,231.519,64.1801,524.866,1183.8,8.7366,264.113,2852.82,1081.65,422.043,Câncer
512,0,3.3786,9.6378,155.15,1280.14,0,70.1754,0,0,0,...,967.176,36.7855,324.844,707.98,92.2467,752.122,3973.4,894.171,706.848,Câncer
889,0,10.5106,4.6688,111.927,1006.44,0,545.078,0,0,0,...,527.599,65.3174,486.661,1254.83,131.095,1033.12,2982.98,842.226,610.856,Câncer
150,0,30.7158,25.0007,133.416,632.74,0,499.241,0,0,0,...,668.046,60.6813,501.448,1145.22,67.3011,1061.92,4260.93,1343.26,668.046,Câncer

In [19]:
dataframe = dataframe.reset_index(drop=True)
dataframe

,1,2,3,4,5,6,7,8,9,10,...,20523,20524,20525,20526,20527,20528,20529,20530,20531,Classe
0,0,6.1041,1.4241,113.319,1154.96,0,109.473,0.941,0,0,...,646.487,55.8344,427.854,908.407,42.3463,755.646,3186.32,1485.26,803.325,Câncer
1,0,0,4.1973,105.399,1014.69,0,274.921,0,14.6905,0,...,1087.62,24.659,207.24,920.252,192.025,842.078,6962.75,668.415,332.634,Câncer
2,0,1.9494,5.4268,214.768,820.864,0,238.145,0,0,0,...,348.788,44.2571,358.272,885.669,27.9241,833.509,3297.68,501.581,740.78,Câncer
3,0,11.3824,15.7494,209.057,2133.72,0,94.3152,0,1.938,0,...,786.176,10.9819,101.421,1323.64,99.4832,475.452,4866.93,579.457,536.822,Câncer
4,0,18.8152,9.6535,65.665,1514.31,0,506.686,0.2876,0,0,...,2694.18,108.124,1077.5,2069.59,210.496,1193.39,874.191,1525.23,7269.59,Câncer
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1191,0,14.6431,2.5982,113.36,850.04,0,101.444,0,0,0,...,660.786,76.9848,581.796,1320.37,121.892,1186.85,3635.12,2219.33,1256.62,Câncer
1192,0,2.0161,0,46.5054,895.160999999999,0,566.868,1.6801,0,0,...,231.519,64.1801,524.866,1183.8,8.7366,264.113,2852.82,1081.65,422.043,Câncer
1193,0,3.3786,9.6378,155.15,1280.14,0,70.1754,0,0,0,...,967.176,36.7855,324.844,707.98,92.2467,752.122,3973.4,894.171,706.848,Câncer
1194,0,10.5106,4.6688,111.927,1006.44,0,545.078,0,0,0,...,527.599,65.3174,486.661,1254.83,131.095,1033.12,2982.98,842.226,610.856,Câncer
1195,0,30.7158,25.0007,133.416,632.74,0,499.241,0,0,0,...,668.046,60.6813,501.448,1145.22,67.3011,1061.92,4260.93,1343.26,668.046,Câncer

In [ ]:
dataframe = pd.DataFrame(dataframe, dtype=float)

In [ ]:
pd.plotting.radviz(dataframe, 'Classe')

In [ ]:
# Utiliza o algoritmo de aprendizado KNN para criar um modelo para classificar os tipos de cancer, sendo treino 75% e teste 25%

X_train, X_test, y_train, y_test = train_test_split(dataframe.drop('Classe',axis=1), dataframe['Classe'], test_size=0.25, shuffle=False)

knn = KNeighborsClassifier(n_neighbors=7, weights='distance')
knn.fit(X_train,y_train)
resultado = knn.predict(X_test)

# imprime na tela as metricas, como a acu+rácia do modelo, sendo tudo 1.00 100% de acerto

print(metrics.classification_report(y_test,resultado))

In [ ]:
tsne = TSNE(n_components=2, random_state=0)
projections = tsne.fit_transform(dataframe.drop("Classe", axis=1))

In [ ]:
# imprime na tela o resultado do t-sne com as cores definidas pela respectiva classe.

fig = px.scatter(
    projections, x=0, y=1,
    color=dataframe.Classe, labels={'color': 'Classe'}
)
fig.show()

In [20]:
from sklearn.neural_network import MLPClassifier

In [21]:
X = dataframe.drop("Classe", axis=1)

In [22]:
y = dataframe["Classe"]

In [ ]:
y

In [24]:
# Neural Network

X_train, X_test, y_train, y_test = train_test_split(dataframe.drop('Classe',axis=1), dataframe['Classe'], test_size=0.25, shuffle=False)

clf = MLPClassifier(solver='lbfgs', alpha=1e-5, hidden_layer_sizes=(5, 2), random_state=1)
clf.fit(X_train,y_train)
resultado = clf.predict(X_test)

print(metrics.classification_report(y_test,resultado))

              precision    recall  f1-score   support

      Câncer       0.89      1.00      0.94       265
      Normal       0.00      0.00      0.00        34

    accuracy                           0.89       299
   macro avg       0.44      0.50      0.47       299
weighted avg       0.79      0.89      0.83       299

C:\Users\Rogonfu\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\Rogonfu\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\Rogonfu\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [ ]:
lista = selector.get_support(indices=True)

In [ ]:
selector

In [ ]:
X_new = SelectKBest(f_classif, k=10)

In [ ]:
nov = X_new.fit_transform(X, y)

In [ ]:
liste = X_new.get_support(indices=True)

In [ ]:
liste = liste - 1

In [ ]:
liste

In [ ]:
feat = df.columns[liste]

In [ ]:
feat

In [ ]:
liste = [205, 20,20529, 2052, 2, 20526, 20525]

In [ ]:
new = new.T

In [ ]:
sea1 = pd.DataFrame(new.loc[0:114], dtype=float)
sea1 = sea1[sea1.columns[liste]]

In [ ]:
fi = sb.heatmap(sea1, xticklabels=feat).figure.set_size_inches(20, 10)

In [ ]:
sea2 = pd.DataFrame(clas, dtype=float)
sea2 = sea2[sea2.columns[liste]]

In [ ]:
fi2 = sb.heatmap(sea2, xticklabels=feat).figure.set_size_inches(20, 10)

In [ ]:
fi = pd.DataFrame(nov, dtype=float)

In [ ]:
fi["Classe"] = y

In [ ]:
fi = fi.drop('Classe', axis=1)

In [ ]:
fi.columns = feat

In [ ]:
fi

In [ ]:
busc = fi.loc[fi["Classe"] == "Câncer"]

In [ ]:
busc

In [ ]:
pd.plotting.radviz(fi, 'Classe')

In [ ]:
# Utiliza o algoritmo de aprendizado KNN para criar um modelo para classificar os tipos de cancer, sendo treino 75% e teste 25%

X_train, X_test, y_train, y_test = train_test_split(fi.drop('Classe',axis=1), fi['Classe'], test_size=0.25, shuffle=False)

knn = KNeighborsClassifier(n_neighbors=7, weights='distance')
knn.fit(X_train,y_train)
resultado = knn.predict(X_test)

# imprime na tela as metricas, como a acurácia do modelo, sendo tudo 1.00 100% de acerto

print(metrics.classification_report(y_test,resultado))

In [ ]:
tsne = TSNE(n_components=2, random_state=0)
projections = tsne.fit_transform(fi.drop("Classe", axis=1))

In [ ]:
fig = px.scatter(
    projections, x=0, y=1,
    color=fi.Classe, labels={'color': 'Classe'}
)
fig.show()

In [ ]:
projections

In [ ]:
tes = pd.DataFrame(projections, dtyoe=float)

In [ ]:

from nltk.cluster import KMeansClusterer
from nltk.cluster import euclidean_distance

In [ ]:
km = X

# dataset vira coluna por linhas e linhas por coluna sem as classes

km = km.T

In [ ]:
x = np.array(km, dtype=float)

In [ ]:
# executa o k-means para ter como resultado 10 caracteristicas apenas

kmeans = KMeansClusterer(100, euclidean_distance, avoid_empty_clusters=True)
var = kmeans.cluster(x, True)

In [ ]:
# pega apenas os centroids do k-means e coloca em um dataset transformando linhas em colunas novamente para ter o dataset reduzido

novo = np.array(kmeans.means())
novo = np.array(novo.T)
data = pd.DataFrame(novo)

In [ ]:
data["Classe"] = y

In [ ]:
tsne = TSNE(n_components=2, random_state=0)
projections = tsne.fit_transform(data.drop("Classe", axis=1))

In [ ]:
fig = px.scatter(
    projections, x=0, y=1,
    color=data.Classe,
)
fig.show()